Flask==2.3.2
sentence-transformers==3.3.0
huggingface-hub==0.26.2
torch==2.5.1
spacy==3.5.3
gunicorn==20.1.0
pdfplumber==0.11.1
Werkzeug==2.3.3
langchain-community==0.2.6
langchain==0.2.6
ollama==0.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
