Flask==3.0.3
sentence-transformers==3.3.0
huggingface-hub==0.26.2
torch==2.5.1
spacy==3.7.4
gunicorn==22.0.0
pdfplumber==0.11.1
Werkzeug==3.0.3
langchain==0.0.164  # or any version that works with Ollama
ollama==0.2.0  # If still in use
